<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.train12306">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fragment.Three.MyAccount"></activity>
        <activity android:name=".Londing.ImageIntent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragment.Three.MyLinkmanActivity" />
        <activity android:name=".Londing.MainActivity" />
        <activity android:name=".Fragment.Three.LinkmanActivity" />
        <activity android:name=".Londing.RegisterActivity" />
        <activity android:name=".Fragment.First.FirstActivity" />
        <activity android:name=".Fragment.Secend.OrderActivity" />
        <activity android:name=".Londing.MyFragmentActivity" />
        <activity android:name=".Londing.ResultActivity" />
        <activity android:name=".Fragment.First.indexsidebar.MainActivity" />
        <activity android:name=".Fragment.Three.AddContact" />
    </application>

</manifest>